﻿<section class="well">
    <h2 class="ra-well-title">Manage Attributes</h2>
</section>

    @(Html.Kendo().Grid<HippoProject.Web.ViewModels.AttributeViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(a => a.AttributeName).Filterable(false).Sortable(false);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
        })
        .ToolBar(toolbar => toolbar.Create().Text("Add a new attribute"))
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Scrollable()
        .Sortable()
        .Pageable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetAttributes", "Attribute"))
            .Create(update => update.Action("CreateAttribute", "Attribute"))
            .Update(update => update.Action("UpdateAttribute", "Attribute"))
            .Destroy(update => update.Action("DeleteAttribute", "Attribute"))
            .Model(model => model.Id(a => a.AttributeId))
            .PageSize(20)

        )
    )

