﻿

    <section class="well">
        <h2 class="ra-well-title">Manage People</h2>
    </section>

    @(Html.Kendo().Grid<HippoProject.Web.ViewModels.PersonViewModel>()
        .Name("grid")
        .HtmlAttributes(new { @class = "ra-section" })
        .Columns(columns =>
        {
            //columns.Bound(c => c.ContactName).ClientTemplate(
            //        @"<div class='customer-photo'
            //            style='background-image: url(../content/web/Customers/#:data.CustomerID#.jpg);'></div>
            //        <div class='customer-name'>#: ContactName #</div>")
            //  .Width(240);
            columns.Bound(p => p.FirstName).Width("25%");
            columns.Bound(p => p.Surname).Width("25%");
            columns.Bound(p => p.DOB).Filterable(false).Sortable(false);//.Format("{0:d}");//.ClientTemplate("#= kendo.toString(DOB, \"dd/MM/yyyy\") #");
            columns.Bound(p => p.Age).Width("15%").Filterable(false).Sortable(false);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width("20%");
        })
        .ToolBar(toolbar => toolbar.Create().Text("Add a new Person"))
        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Person"))
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(p => p.ButtonCount(4))
        .Filterable(filterable => filterable
             .Extra(false)
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetPeople", "Person"))
            .Create(update => update.Action("CreatePerson", "Person"))
            .Update(update => update.Action("UpdatePerson", "Person").Data("serialize"))
            .Destroy(update => update.Action("DeletePerson", "Person"))
             .Model(model =>
             {
                 model.Id(m => m.PersonId);
                 model.Field(m => m.PersonAttributes).DefaultValue(new List<HippoProject.Web.ViewModels.PersonAttributeViewModel>());
             })
            .Events(ev => ev.Change("onDsChange"))
            .Events(events => events.Error("error_handler"))
            .PageSize(10)
        )
        .Events(e => e.Edit("onEdit"))
    )


        <script type="text/javascript">

            kendo.culture("en-GB");

            function onEdit(e) {
                $('#PersonAttributesGrid').data().kendoGrid.dataSource.data(e.model.PersonAttributes);
            }

            function onDsChange(e) {
                if (e.field == 'PersonAttributes' && e.items) {
                    var model = e.items[0].parent().parent();
                    model.dirty = true;
                }
            }

            function error_handler(e) {
                if (e.errors) {
                    var message = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                message += this + "\n";
                            });
                        }
                    });
                    alert(message);
                }
            }

            function serialize(data) {

                for (var property in data) {
                    if ($.isArray(data[property])) {
                        serializeArray(property, data[property], data);
                    }
                }
            }

            function serializeArray(prefix, array, result) {
                for (var i = 0; i < array.length; i++) {
                    if ($.isPlainObject(array[i])) {
                        for (var property in array[i]) {
                            result[prefix + "[" + i + "]." + property] = array[i][property];
                        }
                    }
                    else {
                        result[prefix + "[" + i + "]"] = array[i];
                    }
                }
            }

        </script>
