﻿@model HippoProject.Web.ViewModels.PersonAttributeViewModel

<div class="editor-label">
    @Html.LabelFor(model => model.AttributeDescription)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AttributeDescription)
    @Html.ValidationMessageFor(model => model.AttributeDescription)
</div>