﻿@model HippoProject.Web.ViewModels.PersonViewModel

    @Html.HiddenFor(model => model.PersonId)


    <div class="firstNameEditor">
    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    </div>

    <div class="SurnameEditor">
        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
    </div>

    <div class="dobEditor">
        <div class="editor-label">
            @Html.LabelFor(model => model.DOB)
        </div>
        <div class="editor-field">
            @(Html.Kendo().DatePickerFor(model => model.DOB)
                .Max(DateTime.Now.ToShortDateString())
                .Min(DateTime.Now.AddYears(-150).ToShortDateString()))
            @(Html.ValidationMessageFor(model => model.DOB))
        </div>
    </div>

    <br/>
    <div class="personAttributesEditor">

        @(Html.Kendo().Grid<HippoProject.Web.ViewModels.PersonAttributeViewModel>()
        .Name("PersonAttributesGrid")
        .Sortable()
            .Columns(columns =>
            {
                columns.Bound(p => p.Attribute).ClientTemplate("#=Attribute.AttributeName#");
                columns.Bound(p => p.AttributeDescription);
                columns.Command(command => { command.Destroy(); });
            })
            .ToolBar(toolbar => toolbar.Create().Text("Add"))
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Scrollable()
            .Sortable()
            .AutoBind(false)
            .DataSource(dataSource => dataSource
                .Ajax()
                .Create(update => update.Action("CreatePersonAttribute", "Person"))
                .Update(update => update.Action("UpdatePersonAttribute", "Person"))
                .Destroy(update => update.Action("DeletePersonAttribute", "Person"))
                .Model(model =>
                {
                    model.Id(m => m.PersonAttributeId);
                    model.Field(m => m.Attribute).DefaultValue(new HippoProject.Web.ViewModels.AttributeViewModel() { AttributeName = "(Default)" });
                }))
            .ToClientTemplate()

        )

    </div>
